.product-page
{
    background-color: rgb(21, 24, 56);
    width: max-content;
    min-width: 100%;
    
}
.product-page > *
{
    color: white;
}
.product-page-container
{
    width: 100%; min-height: 45vw;

    margin: 100px 0 50px 0;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
}

.product-overview-container
{
    width: 1300px; height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: flex-start;
}
.product-overview-image-container
{
    height: 500px; width: 500px;
    background-color: rgb(220, 224, 255);

    border-radius: 20px;

    display: flex;
    justify-content: center; align-items: center;

    position: relative;
}

.product-overview-image
{
    height: 500px;
    
}
.product-overview-image-zoom-container
{
    height: 300px; width: 300px;
    background-color: grey;

    border-radius: 20px;

    position: fixed;
    left: 100px;
    bottom: 150px;

    display: flex;
    justify-content: center; align-items: center;
/* 
    overflow: hidden; */
}
.product-overview-image-zoom-layer
{
    height: 300%;
    opacity: 0.5;
    position: absolute;
}
.product-overview-info-container
{
    height: 100%;
}
.product-overview-info-name
{
    margin-top: 0;
    font-size: 30pt;
}
.product-overview-info-spec-list
{
    font-size: 15pt;
}

.product-overview-availability-container
{
    margin-left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center; align-items: flex-start;
}
.product-overview-quantity-selector
{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.product-overview-quantity-label
{
    font-size: 20pt;
}
.product-overview-quantity-input
{
    height: 40px; width: auto;

    font-size: 20pt;

    background-color: rgb(200, 215, 255);

    padding: 5px;

    box-sizing: border-box;

    border-radius: 5px;

    border: none;
    outline: none;
}
.product-page-cart-button
{
    width: 250px;

    font-size: 20pt;

    color: white;
    background-color: rgb(40, 40, 160);

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    box-sizing: border-box;
    padding: 10px 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;

    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.product-page-cart-button:hover
{
    transform: scale(105%);
    background-color: rgb(50, 50, 200);
}
.product-page-cart-button:active
{
    transform: scale(102%);
    background-color: rgb(30, 30, 130);
}
.product-page-cart-button:disabled
{
    background-color: rgb(75, 75, 75);
    pointer-events: none;
}
/* .product-page-cart-button[state="remove"]
{
    background-color: rgb(168, 0, 0);
}
.product-page-cart-button[state="remove"]:hover
{
    background-color: rgb(202, 14, 14);
} */
.product-page-cart-button-icon
{
    height: 50px;
}
.product-page-in-cart-message
{
    width: 250px;

    color: rgb(144, 181, 250);
}


.product-page-reviews-container
{
    margin-top: 100px;

}
.product-page-review-form-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-page-review-form
{
    height: fit-content; width: 1300px;

    background-color: rgb(50, 50, 120);

    border-radius: 20px;
    box-shadow: 0 5px 10px black;

    box-sizing: border-box;
    padding: 10px 25px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-page-review-form > *
{
    margin: 10px 0;
}
.product-page-review-form-input
{
    font-size: 15pt;

    background-color: rgb(200, 215, 255);

    box-sizing: border-box;
    padding: 5px;

    border: none;
    border-radius: 5px;

    outline: none;
}
.product-page-review-form-textarea-container
{
    height: auto; max-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center; align-items: flex-start;
}
.product-page-review-form-textarea
{
    font-size: 13pt;
    font-family: inherit;

    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 300px;

}
.product-page-review-form-rating
{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: flex-start;
}
.product-page-reviews-group
{
    width: 1300px;
    
}
.product-page-review-container
{
    width: 100%;
    background-color: rgb(50, 50, 120);

    border-radius: 20px;
    box-shadow: 0 5px 10px black;

    box-sizing: border-box;
    padding: 10px 25px;
    margin-bottom: 20px;
}
.product-page-review-rating-container
{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.product-page-review-rating-background
{
    background-image: url("../../img/review-stars.png");
    background-size: 120px;
    background-repeat: no-repeat;
    height: 25px; width: 120px;

}
.product-page-review-rating-fill
{
    background-image: url("../../img/review-stars-fill.png");
    background-size: 120px;
    background-repeat: no-repeat;
    height: 25px; width: 80%;

    pointer-events: none;
}
.product-page-review-rating-submit
{
    width: fit-content;
    font-size: 15px;
    font-weight: 600;

    background-color: rgb(144, 181, 250);

    border-radius: 10px;
    border: none;
    outline: none;

    box-sizing: border-box;
    padding: 5px 10px;

    transition: all 0.2s ease-in-out;
}
.product-page-review-rating-submit:hover
{
    background-color: rgb(116, 160, 241);
    transform: scale(105%);
}

.product-page-similar-products-group
{
    width: 1300px;
    display: flex;
}
.product-page-similar-product-container
{
    height: 350px; width: 250px;

    text-decoration: none;
    
    color: black;
    background-color: rgb(220, 224, 255);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px -10px black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
    
    box-sizing: border-box;
    padding: 10px;
    margin-right: 50px;

    position: relative;

    transition: transform 0.2s ease-in-out;
}
.product-page-similar-product-container:hover
{
    transform: scale(110%);
}
.product-page-similar-product-image-container
{
    height: 160px; width: 160px;
    
    display: flex;
    justify-content: center; align-items: center;
    
    position: relative;
}
.product-page-similar-product-image
{
    height: 180px;
}
.product-page-similar-product-brand
{
    height: 50px; width: 50px;
    
    background-color: white;

    border-radius: 50%;
    box-shadow: 0 0 10px grey;
    
    position: absolute;
    
    bottom: 0px;
    right: -25px;

    display: flex;
    justify-content: center; align-items: center;
}
.product-page-similar-product-brand-icon
{
    height: 70%;
}
.product-page-similar-product-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
}
.product-page-similar-product-name
{
    font-size: 100;
    margin: 10px 5px;
}
.product-page-similar-product-price
{
    color: red;
    
    margin: 5px;
}

.product-page-similar-product-option-button
{
    
    height: 30px; width: 30px;
    background-color: rgb(40, 40, 160);
    
    padding: 20px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(28, 4, 95);

    
    display: flex;
    justify-content: center; align-items: center;

    transition: all 0.2s ease-in-out;
    
    cursor: pointer;
}
.product-page-similar-product-option-button:hover
{
    transform: scale(105%);
    background-color: rgb(50, 50, 200);
}
.product-page-similar-product-option-button:active
{
    transform: scale(102%);
    background-color: rgb(30, 30, 130);
}
.product-page-similar-product-option-button:disabled
{
    background-color: rgb(75, 75, 75);
    pointer-events: none;
}
/* .product-page-similar-product-option-button[state="remove"]
{
    background-color: rgb(168, 0, 0);
} */
.product-page-similar-product-cart-icon
{
    height: 25px;
}

@keyframes loading-animation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.loading
{
    height: 100px;

    animation: loading-animation 2s infinite;
}