.shopping-page
{
    background-color: rgb(21, 24, 56);
    width: max-content;
    min-width: 100%;
}
.shopping-page > *
{
    color: white;
}

.shopping-page-container
{
    width: 100%; min-height: 45vw;

    margin: 100px 0 50px 0;
    padding-top: 100px;

    display: flex;
    justify-content: center; align-items: flex-start;
}
.shopping-section-container
{
    width: 1450px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: flex-start;
}


.shopping-results-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;

}
.shopping-results-sort-container
{
    height: 60px; width: 92%;
    background-color: rgb(50, 50, 120);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;
    
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; align-items: center;
}
.shopping-results-sort-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.shopping-results-sort-label
{
    margin-right: 20px;
}
.shopping-results-sort-input
{
    height: 30px;

    font-size: 12pt;

    background-color: rgb(200, 215, 255);

    padding: 5px;

    box-sizing: border-box;

    border-radius: 5px;

    border: none;
    outline: none;
}

.shopping-results-container
{
    height: auto; width: 1000px;

    display: grid;
    justify-items: center; align-items: center;
    grid-template-columns: repeat(3,33.4%);

}


.product-result-container
{
    height: 350px; width: 250px;

    text-decoration: none;
    
    color: black;
    background-color: rgb(220, 224, 255);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px -10px black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
    
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;

    transition: transform 0.2s ease-in-out;
}
.product-result-container:hover
{
    transform: scale(110%);
}
.product-link
{
    color: black;
    text-decoration: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;

    
}
.product-result-image-container
{
    height: 160px; width: 160px;
    
    display: flex;
    justify-content: center; align-items: center;
    
    position: relative;
}
.product-result-image
{
    height: 180px;
}
.product-result-brand
{
    height: 50px; width: 50px;
    
    background-color: white;

    border-radius: 50%;
    box-shadow: 0 0 10px grey;
    
    position: absolute;
    
    bottom: -25px;
    right: -25px;

    display: flex;
    justify-content: center; align-items: center;
}
.product-result-brand-icon
{
    height: 70%;
}
.product-result-name
{
    font-size: 100;
    margin: 20px 5px;
}
.product-result-price
{
    color: red;
    
    margin: 5px;
}

.product-result-option-button
{
    
    height: 30px; width: 30px;
    background-color: rgb(40, 40, 160);
    
    padding: 5px;
    border-radius: 50%;
    /* border: 2px solid black; */
    
    display: flex;
    justify-content: center; align-items: center;
    
    cursor: pointer;
}
.product-result-option-button[state="remove"]
{
    background-color: rgb(168, 0, 0);
}
.product-result-cart-icon
{
    height: 25px;
}


.shopping-options-container
{
    height: fit-content; width: 400px;
    background-color: rgb(50, 50, 120);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;
    
    box-sizing: border-box;

    padding: 30px;
    
    
}

.shopping-option-input-group
{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.shopping-option-input-container
{
    width: 150px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.shopping-option-input
{
    width: 50px;
}

.shopping-spec-container
{
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: flex-start;
}
.shopping-spec-label
{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.shopping-spec-name
{
    margin: 5px;
}
.shopping-spec-dropdown-arrow
{
    height: 10px;
    transition: transform 0.2s ease-in-out;
}
.shopping-spec-dropdown-container
{
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0%);

    overflow: hidden;

    transition: all 0.2s ease-in-out;
}
.shopping-spec-dropdown
{
    margin-left: 25px;
    display: grid;
    justify-items: center; align-items: center;
    grid-template-columns: repeat(2,50%);
}
.shopping-spec-dropdown-checkbox
{
    opacity: 0;
    position: absolute;
}
.shopping-spec-dropdown-checkbox:checked ~.shopping-spec-dropdown-container
{
    max-height: 5000px;
    transform: scaleY(100%);
    
}
.shopping-spec-dropdown-checkbox:checked +.shopping-spec-label >.shopping-spec-dropdown-arrow
{
    transform: rotate(180deg);
}
.shopping-spec-filter
{
    min-width: 100px; width: fit-content;

    margin: 5px;

    display: flex;
    flex-direction: row;
}
.shopping-spec-filter-label
{
    margin: 0;
}

@keyframes popup {

    0% {bottom: -120px;}

    10% {bottom: 50px;}

    90% {bottom: 50px;}

    100% {bottom: -120px;}
    
}
.popups-container
{
    height: 0; width: 100%;

    position: fixed;
    bottom: 0; left: 0;

    display: flex;
    justify-content: center; align-items: center;

    pointer-events: none;

    z-index: 4;
}
.popup-message-container
{
    height: auto; width: auto;

    background-color: white;

    padding: 5px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;

    position: absolute;
    
    animation: popup 3s ease-in-out forwards;

    display: flex;
    justify-content: center; align-items: center;

}
.popup-message
{
    color: black;
}

.price-range-container
{
    width: 100%;

    position: relative;

    display: flex;
    justify-content: center; align-items: center;
}

/* .scroll-to-top-container
{
    height: 80px; width: 80px;

    background-color: black;

    border-radius: 50%;
    box-shadow: 0 0 10px gray;

    position: fixed;
    bottom: 50px; left: 350px;

    z-index: 2;

    cursor: pointer;
}
.scroll-to-top-icon
{
    height: 30px;
} */

.info-box-container
{
    height: auto; width: auto;
    color: black;

    background-color: rgb(219, 222, 240);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 10px 20px dimgray;

    box-sizing: border-box;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;

    position: fixed;

    transform: scaleY(0);

    transition: transform 0.1s ease-in-out;

    transform-origin: top;

    z-index: 1;

    pointer-events: none;

}
.info-box-spec-list
{
    list-style-type: square;
    padding-left: 20px;
}
.info-box-checkbox
{
    opacity: 0;
    position: absolute;
}
.info-box-checkbox:checked +.info-box-container
{
    transform: scaleY(100%);
}