.shopping-page
{
    background-color: dimgray;
}
.shopping-page > *
{
    color: white;
}

.shopping-page-container
{
    height: 100%; width: 100%;

    margin: 100px 0;
    padding-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around; align-items: flex-start;
}


.shopping-results-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;

}
.shopping-results-sort-container
{
    height: 60px; width: 92%;
    background-color: rgb(59, 59, 59);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;
    
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; align-items: center;
}
.shopping-results-sort-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.shopping-results-sort-label
{
    margin-right: 20px;
}

.shopping-results-container
{
    height: auto; width: 1000px;

    display: grid;
    justify-items: center; align-items: center;
    grid-template-columns: repeat(3,33.4%);

}


.product-result-container
{
    height: 350px; width: 250px;
    
    color: black;
    background-color: white;

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px -10px black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
    
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;
}
.product-result-image
{
    height: 160px; width: 160px;
    
    background-color: pink;
    
    position: relative;
}
.product-result-brand
{
    height: 50px; width: 50px;
    
    background-color: gray;
    
    position: absolute;
    
    bottom: -25px;
    right: -25px;
}
.product-result-name
{
    font-size: 100;
    margin: 5px;
}
.product-result-price
{
    color: red;
    
    margin: 5px;
}

.product-result-option-button
{
    
    height: 25px; width: 25px;
    background-color: black;
    
    padding: 5px;
    border-radius: 50%;
    border: 2px solid black;
    
    display: flex;
    justify-content: center; align-items: center;
    
    cursor: pointer;
}
.product-result-cart-icon
{
    height: 25px;
}


.shopping-options-container
{
    height: 500px; width: 400px;
    background-color: rgb(59, 59, 59);

    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;
    
    box-sizing: border-box;

    padding: 30px;
    
}

.shopping-option-input-group
{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.shopping-option-input-container
{
    width: 150px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.shopping-option-input
{
    width: 50px;
}



@keyframes popup {

    0% {bottom: -120px;}

    10% {bottom: 50px;}

    90% {bottom: 50px;}

    100% {bottom: -120px;}
    
}
.popup-message-container
{
    height: auto; width: auto;

    background-color: white;

    padding: 5px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;

    position: fixed;
    bottom: -120px;

    z-index: 5;

    animation: popup 3s ease-in-out forwards;

    display: flex;
    justify-content: center; align-items: center;

}
.popup-message
{
    color: black;
}