.cart-page
{
    background-color: rgb(21, 24, 56);
    width: max-content;
    min-width: 100%;
}
.cart-page > *
{
    color: white;
}

.cart-page-container
{
    width: 100%; min-height: 45vw;

    margin: 100px 0 50px 0;
    padding-top: 100px;

    display: flex;
    justify-content: center; align-items: flex-start;
}
.cart-page-cart-container
{
    width: 1300px;

    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
}
.cart-page-cart-title
{
    width: 100%;
    font-size: 40pt;

    text-align: left;
}
.cart-page-cart-item-group
{

    height: fit-content; width: 100%;
    min-height: 250px;

    background-color: rgb(50, 50, 120);

    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 20px black;
    
    box-sizing: border-box;

    padding: 10px 30px;

    display: flex;
    justify-content: center; align-items: center;
}
.cart-page-shopping-cart-empty
{
  height: 100%;
  color: white;
/* 
  display: flex;
  justify-content: center; align-items: center; */
}

/* ---------------------------------------------------------- */
.cart-page-shopping-cart-list
{
    width: 100%; height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: 20px;
}
/* ---------------------------------------------------------- */
.cart-page-cart-item-container
{
    width: 100%; height: 250px;
    background-color: rgb(220, 224, 255);
    
    margin: 20px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;

    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 20px -10px black;

    box-sizing: border-box;
    padding: 50px;

    position: relative;

    transition: transform 0.2s ease-in-out;
}
.cart-page-cart-item-container:hover
{
    transform: scale(101%);
}
.cart-page-cart-item-info-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: flex-start;
}
.cart-page-cart-item-image-container
{
    height: 180px; width: 180px;
    
    display: flex;
    justify-content: center; align-items: center;

    margin-right: 50px;
    
    position: relative;
}
.cart-page-cart-item-image
{
    height: 150%;
}
.cart-page-cart-item-brand
{
    height: 40px; width: 40px;
    
    background-color: white;

    border-radius: 50%;
    box-shadow: 0 0 10px grey;
    
    position: absolute;
    
    bottom: -20px;
    right: -20px;

    display: flex;
    justify-content: center; align-items: center;
}
.cart-page-cart-item-brand-icon
{
    height: 70%;
}
.cart-page-cart-item-details
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: flex-start;
}
.cart-page-cart-item-name
{
    color: black;
    font-size: 20pt;
    font-weight: 700;
}
.cart-page-cart-item-specs
{
    margin-top: 20px;

    color: black;
    list-style: square;

    display: grid;
    grid-template-columns: repeat(2,auto);
}
.cart-page-cart-item-spec
{
    font-size: 14pt;
    margin-right: 15px;
}

.cart-page-cart-item-spec-text
{
    position: relative;
    left: -10px;
}
.cart-page-cart-item-price
{
    color: red;
    font-size: 35pt;
    font-weight: 700;
}
.cart-page-cart-item-count
{
    height: 60px; width: 60px;

    font-size: 30pt;
    font-weight: 600;

    color: white;
    background-color: rgb(83, 102, 143);

    border: 5px outset rgb(69, 87, 124);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(10, 10, 60), inset 0 0 10px rgb(69, 87, 124);

    position: absolute;
    top: -30px; right: -30px;

    display: flex;
    flex-direction: row;
    justify-content: center; align-items: center;

    z-index: 2;
}
/* ---------------------------------------------------------- */
.cart-page-remove-item-button-container
{
  position: absolute;
  bottom: 10px; right: 10px;
}
.cart-page-remove-item-button
{
    width: 215px; height: 25px;
    background-color: rgb(168, 0, 0);

    font-size: 16pt;

    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}
.cart-page-remove-item-button:hover
{
    background-color: rgb(223, 0, 0);
    box-shadow: 0 0 10px gray;
}
.cart-page-remove-icon
{
    height: 30px;
    margin-left: 10px;
}
.cart-page-remove-item-button-container:hover .cart-page-remove-item-count-container
{
  opacity: 1;
  pointer-events: all;
}
.cart-page-remove-item-count-container
{
  width: auto;

  font-size: 18pt;
  color: black;

  padding-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between; align-items: center;

  position: absolute;
  bottom: 0; right: 235px;

  transform-origin: right;

  opacity: 0;
  pointer-events: none;

  transition: all 0.1s ease-in-out;

  z-index: 0;
}
.cart-page-remove-item-count-input
{
  height: 45px; width: 55px;

  font-size: 14pt;

  background-color: white;

  padding: 5px;
  margin: 0 10px;

  box-sizing: border-box;

  border-radius: 5px;
  
  border: none;
  outline: none;
}
.cart-page-remove-item-count-all-container
{
  width: auto;

  display: flex;
  justify-content: center;
}
.cart-page-remove-item-count-all-button
{
  height: 45px; width: 45px;

  background-color: white;

  font-size: 15pt;

  border-radius: 5px;

  border: none;
  outline: none;
}
.cart-page-remove-item-count-all-button:hover
{
  background-color: rgb(160, 185, 255);
}
/* ---------------------------------------------------------- */
.cart-page-remove-item-warning
{
    height: 100%; width: 100%;

    background-color: rgb(220, 224, 255);

    border-radius: 20px;

    position: absolute;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;

    visibility: hidden;
  
}
.cart-page-remove-item-warning-label
{
    font-size: 25pt;
    color: red;
}
.cart-page-remove-item-warning-buttons
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; align-items: center;
}
.cart-page-remove-item-warning-button
{
    color: white;
    background-color: rgb(40, 40, 160);

    font-size: 15pt;
    font-weight: 600;

    padding: 5px 15px;

    border-radius: 10px;
    border: none;
}
.cart-page-remove-item-warning-button:hover
{
    background-color: rgb(50, 50, 199);
}
.cart-page-remove-item-warning-button[state="remove"]
{
    color: white;
    background-color: rgb(168, 0, 0);

    font-size: 12pt;
    font-weight: 600;

    padding: 5px 15px;

    border-radius: 10px;
    border: none;
}
.cart-page-remove-item-warning-button[state="remove"]:hover
{
    background-color: rgb(202, 14, 14);
}


/* -------------------------------------------------------------------------------------------------------------------------------- */
/* CHECKOUT 
    -Total cost label
    -Checkout button*/

.cart-page-cart-checkout-container
{
    width: 50%;
    background-color: rgb(50, 50, 120);

    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 20px black;
    
    box-sizing: border-box;

    margin: 50px 0;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
}
.cart-page-cart-checkout-total-container
{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.cart-page-total-cost-label
{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.cart-page-total-cost-label > h2
{
    margin: 0;
}
/* ---------------------------------------------------------- */
.cart-page-checkout-button
{
    color: white;
    background-color: rgb(15, 25, 158);
    font-size: 20pt;
    font-weight: 800;

    box-shadow: 0 0 10px black;

    padding: 5px 15px;

    border-radius: 10px;

    transition: all 0.2s ease-in-out;
}
.cart-page-checkout-button:hover
{
    background-color: rgb(55, 93, 199);
    transform: scale(105%);
}
.cart-page-checkout-button:active
{
    background-color: darkblue;
}
.cart-page-checkout-button:disabled
{
    pointer-events: none;
    background-color: dimgray;
    color: lightgray;
}
